<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/imagenes/logo.png">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Login</title>
</head>
<body class="bodyl">
        <img class="logoL" src="/static/imagenes/logo.png" alt="">
        <h1 class="tituloL">Iniciar sesión en Twitta</h1>
        
        <form class="login" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="botonL" type="submit" id="submit">Iniciar sesión</button>
            <a class="a-olv" href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
            <a class="a-regis" href="{% url 'register' %}">Regístrate en Twitta</a>
        </form>
</body>
</html>
