<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'imagenes/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Password Reset</title>
</head>
<body class="bodyl">
    <h1 class="text-center">Su contraseña se reestablecio correctamente</h1>

    <p class="text-center"><a href="{% url 'login' %}">Iniciar sesion</a></p>    
</body>
</html>