<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'imagenes/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Password Reset</title>
</head>
<body class="bodyl">
    {% if  validlink %}
    <h1>Nueva contraseña</h1>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Nueva contraseña:</label>
        {{ form.new_password1 }}
    
        {{form.new_password2.errors }}
        <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
        <button class="boton-recu" type="submit" id="submit">Enviar</button>
    </form>
    
    {% else %}
    <h1>Enlace invalido</h1>
    
    {% endif %}
</body>
</html>

