<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Password Reset</title>
</head>
<body class="bodyl">
    <h4>Te hemos enviado un enlace a tu correo para reestablecer tu contraseña</h4>
</body>
</html>


