<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'imagenes/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Registrate</title>
</head>
<body class="bodyr">
    <div class="contentRegister">
        <img class="logoR" src="{% static 'imagenes/logo.png' %}" alt="">
        <h1 class="tituloR">Crea tu cuenta</h1>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="submit">Registrarse</button>
        </form>
    </div>
</body>
</html>