body{
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

body.dark{
  background: #15202B;
  transition: .3s ease all;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  position: fixed;
}

textarea{
  margin-top: -45px;
  margin-left: 145px;
  height: 80px;
  resize: none;
  font-size: 19px;
  border-style: none;
  outline: none;
}

.cabezera{
  position: fixed;
  top: 0;
  width: 100%;
  height: 9%;
  background-color: white;
  border-bottom: 1px solid #e6ecf0;
  border-top: none;
}

.head{
  margin-top: 15px;
  margin-left: 100px;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 25px;
  color:#0f1419;
}

.head-profile{
  margin-top: 10px;
  margin-left: 150px;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 25px;
  color:#0f1419;
}

.boton-recu{
  margin-left: 47%;
}
.count-tweets{
  margin-left: 150px;
  color: #5b7083;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}

.stars{
  
  width: 10px;
  height: 10px;
  margin-top: -23px;
  margin-left: 610px;
  width: 15%;
}

.back{
  position: fixed;
  width: 5px;
  height: 5px;
  margin-top: -40px;
  margin-left: 100px;
}

.menu{
  background: white;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #e6ecf0;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 78px;
}


.logo{
  position: relative;
  width: 40px;
  margin-top: 0px;
  margin-left: 0px;
}

.home{
  width: 24px;
  /* margin-top: 67px;
  margin-left: 29px; */
}

.home-a{
  margin-top: 5px;
  margin-left: 15px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.home-a:hover{
  background-color: #17a2f23a;
}

.hashtag-b{
  margin-top: 5px;
  margin-left: 15px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.hashtag-b:hover{
  background-color: #17a2f23a;
}

.hashtag{
  position: relative;
  width: 25px;
}

.bell-b{
  margin-top: 5px;
  margin-left: 15px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.bell-b:hover{
  background-color: #17a2f23a;
}

.bell{
  position: relative;
  width: 25px;
}

.message-b{
  margin-top: 5px;
  margin-left: 15px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.message-b:hover{
  background-color: #17a2f23a;
}

.message{
  width: 25px;
}

.bookmark{
  position: relative;
  width: 25px;
}

.bookmark-b{
  margin-top: 5px;
  margin-left: 15px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.bookmark-b:hover{
  background-color: #17a2f23a;
}

.list-b{
  margin-top: 5px;
  margin-left: 15px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.list-b:hover{
  background-color: #17a2f23a;
}

.list{
  position: relative;
  width: 25px;
}

.user-b{
  margin-top: 5px;
  margin-left: 15px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.user-b:hover{
  background-color: #17a2f23a;
}

.user{
  position: relative;
  width: 25px;
}

.mas{
  position: relative;
  width: 25px;
}

.mas-b{
  margin-top: 5px;
  margin-left: 15px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.mas-b:hover{
  background-color: #17a2f23a;

}

.pluma{
  position: relative;
  margin-left: -7px;
  width: 50px;
  height: 50px;
}

.pluma-b{
  margin-top: 5px;
  margin-left: 15px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.pluma-b:hover{
  background-color: transparent;
}

.modal-perfil{
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.modal-perfil:hover{
  background-color: #17a2f23a;
}

.perfil{
  position: relative;
  width: 45px;
  height: 45px;
  margin-left: -3px;
  margin-top: 2px;
  border-radius: 45px;
}

.tt{
  width: 265px;
  height: 172px;
  box-shadow: 0px 0px 19px -1px #555756b7;
  position:absolute;
  bottom: 12%;
  left:20%;
  background-color: white;
  border-radius:13px;
  padding:1em;

}

.tt .info-usuario{
  display: flex;width: 112.3%;
  margin-left: -16px;
  border-bottom: 1px solid #acacac;
}

.tt .info-usuario .img-user{
  width: 80px;height: 80px;
  margin-left: 20px;

}
.tt .info-usuario .img-user img{
  height: 55px;
  object-fit: cover;
}

.tt .info-usuario .nombres{
  margin-top: -30px;
  width: 200px;
  color:#657786;
  display: flex;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  align-items: center;
}

.tt .agg-cuenta{
  display: flex;width: 112.3%;
  margin-left: -16px;
  border-bottom: 1px solid #acacac;
}

.tt .agg-cuenta .p-agg{
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
  color: #657786;
  margin-left: 20px;
}

.tt .cerrar{
  display: flex;width: 112.3%;
  margin-left: -16px;
}

.tt .cerrar .p-cerrar{
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
  color: #657786;
  margin-left: 20px;
}

.p-username{
  font-weight: 300;
  margin-top: 50px;
  margin-left: -50px;
}

.search{
  outline: none;
  border: 0;
  font-size: 15px;
  color: #778794;
  margin-left: 20px;
  margin-top: 5px;
  background: #E6ECF0;
  border-style: none;
  border-radius: 28px;
  width: 290px;
  height: 42px;
}

.logo-b{
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.logo-b:hover{
  background-color: #17a2f23a;
}

.loupe{
  width: 20px;
  position: absolute;
  left: 0;
  top: 17px;
  padding: 0px 40px;
}

.coment{
  width: 67.1%;
  height: 160px;
  border-bottom: 8px solid rebeccapurple;
}

.name-modal{
  margin-top: -50px;
  margin-left: 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #0f1419;
}

.switch{
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor:pointer;
  display: flex;
  outline: none;
  
}

.switch::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}

.switch:active{
  background: orange;
  color: #000;
}

.switch:hover{
  background: #343D5B;
}

/* .switch:active::after{
  right: 0;
  left: unset;
} */

.sun-moon{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #ffff;
}

.dark-modal{
  margin-top: 55px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0f1419;
  padding-left: 73px;
  width: 120px;
  margin-left: -62px;
  border-bottom: 1px solid #AAB8C2;
}

.acerca-modal{
  margin-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0f1419;
}

.user-modal{
  margin-top: -10px;
  margin-left: 65px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5b7083;
}

.div-modal{
  position: fixed;
  width: 190px;
  height: 60px;
  margin-top: -80px;
  border-bottom: 1px solid #AAB8C2;
}

.div-modal-opciones{
  position: fixed;
  width: 190px;
  height: 60px;
  margin-top: -80px;
  border-bottom: 1px solid #AAB8C2;
}

.sesion-modal{
  margin-top: 50px;
  padding-bottom: 10px;
  width: 180px  ;
  padding-left: 10px;
  border-bottom: 1px solid #AAB8C2;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #0f1419;

}

.img-modal{
  width: 60px;
  height: 60px;
  border-radius: 45px;
}

.img-modal-opciones{
width: 60px;
height: 60px;
border-radius: 45px;
}

.coment-x{
  width: 100%;
  height: 160px;
  display: block;
  border-bottom: 8px solid #e6ecf0;
  
}

@media (max-width: 560px)
{
  .coment-x{
    width: 100%;
  }
}

.img-coment{
  margin-left: 90px;
  margin-top: 50px;
  height: 55px;
  width: 55px;
  border-radius: 45px;
}



.form-posts{
  height: 0px;
  width: 100%;
  margin: 0px;
}
s

.div-b{
  background-color: red;
  font-weight: 700;
  outline: none;
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 11%;
  display: flex;
  justify-content: flex-end;

}

.img-noti{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 10px;
}

.name-noti{
  margin-left: 50px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #0f1419
}
.noti{
  margin-top: 70px;
}

.post-noti{
  margin-left: 50px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5b7083;
}

.Modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-box{
  position: fixed;
  width: 190px;
  height: 150px;
  display: flex;
  margin-top: 340px;
  margin-right: 790px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow:0 0 7px 2px #14171a8f;
}

.cerrar-modal{
  margin-top: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #0f1419;
}

.Modal:target{
  display: flex;
}

.s-noti{
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #0f1419
}

.picture{
  width: 20px;
  height: 26px;
  margin-left: 0px;
}

.gif{
  width: 20px;
  height: 19px;
  margin-left: 15px;
}

.encuesta{
  width: 20px;
  height: 19px;
  margin-left: 17px;
}

.carita{
  width: 20px;
  height: 19px;
  margin-left: 17px;
}

.calendario{
  width: 20px;
  height: 19px;
  margin-left: 17px;
}

.p{
  margin-top: 900px;
}

.derecha{
  background:white;
  border-left: 1px solid #e6ecf0;
  position: fixed;
  display: block;
  height: 100%;
  left: 67%;
  top: 0;
  width: 347px;
}


@media (max-width: 720px)
{
  .derecha
    {
      display: none;
    }
}

.derecha-logout{
  background:transparent;
  position: fixed;
  height: 100%;
  left: 67%;
  top: 0;
  margin-left: -110px ;
  width: auto;
}

.prueba{
  height: 480px;
  width: 290px;
  border-radius: 20px;
  background-color: #F7F9FA;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 5px;
}

.trends{
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  padding-left: 10px;
  margin-top: 10px;
  color: #0f1419;
}

.trends-t{
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  padding-left: 10px;
  margin-top: 15px;
  color: #0f1419;
}


.user_arta{
  margin: 0;
}

.titulo-trends{
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 25px;
  color: #0f1419;
  margin-top: -10px;
  margin-left: 10px;
}

.titulo-trends-t{
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 25px;
  color: #0f1419;
  padding-left: 10px;
  margin-top: -10px;
  margin-left: -5px;
  border-bottom: 1px solid #E6ECF0;
}

.titulo-trend{
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 25px;
  color: #0f1419;
  margin-top: -20px;
  margin-left: -5px;
  padding-left: 15px;
  border-bottom: 1px solid #E6ECF0;
}

.titulo-trendss{
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 25px;
  color: #0f1419;
  margin-top: -30px;
  padding-bottom: 10px;
  margin-left: 5px;
  border-bottom: 1px solid #E6ECF0;
}

.user-a-trends{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5b7083;
  margin-left: 0px;
  padding-left: 70px;
  margin-top: -68px;
  border-bottom: 1px solid #E6ECF0;
  width: 220px;
}

.titulo-trends{
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 25px;
  color: #0f1419;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 0px;
  padding-top: 10px;
  padding-left: 10px;
  width: 285px;
}
.div-img{
  margin-top: -10px;
  padding-bottom: 50px;
}

.user-trends{
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #0f1419;
  margin-left: 70px;
  margin-top: -70px;
}

.img-trends{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  /* margin-top: 20px; */
  margin-bottom: -20px;
  border-radius: 45px;
}

.quien-seguir{
  height: 300px;
  width: 290px;
  border-radius: 20px;
  background-color: #F7F9FA;
  margin-left: 20px;
  margin-top: 10px;
}

.trend-trends{
  width: 58.8%;
  background-color: transparent;
  margin-left: 79px;
  margin-top: 80px;
  padding-top: 20px;
  padding-left: 5px;
}

.trend-trends-t{
  width: 58.8%;
  background-color: transparent;
  margin-left: 79px;
  margin-top: 80px;
  padding-top: 20px;
  padding-left: 5px;
}

.search-trends{
  outline: none;
  border: 0;
  font-size: 15px;
  color: #778794;
  margin-left: 120px;
  padding-top: 0%;
  margin-top: 10px;
  background: #E6ECF0;
  border-style: none;
  border-radius: 28px;
  width: 490px;
  height: 35px;
}

.posting{
  margin-top: 45px;
  padding-top: 10px;
  margin-left: -5px;
  padding-left: 15px;
  border-bottom: 1px solid#EFF1F2;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #5b7083;
}

.posting-t{
  margin-top: 45px;
  padding-top: 20px;
  margin-left: -5px;
  padding-left: 15px;
  border-bottom: 1px solid#EFF1F2;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #5b7083;
}


.search{
  outline: none;
  border: 0;
  font-size: 15px;
  color: #778794;
  margin-left: 20px;
  padding-top: 0%;
  margin-top: 5px;
  background: #E6ECF0;
  border-style: none;
  border-radius: 28px;
  width: 290px;
  height: 42px;
}

.loupe{
  width: 20px;
  position: absolute;
  left: 0;
  top: 17px;
  padding: 0px 40px;
}

.article{
  position: block;
	width: 60%;
  margin-left: 78px;
  padding: 0px 0px 0px 0px;
  border-bottom-style: solid;
  border-bottom-color:#e6ecf0;
  border-bottom-width: 1px;
}

@media (max-width: 750px)
{
  .article{
    width: 100%;
  }
}

.imgpost{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 45px;
}

.loupe-trends{
  width: 20px;
  position: absolute;
  left: 140px;
  top: 17px;
}

.usernamepost{
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #657786;
  margin-left: 10px;
  margin-top: -50px;
}

.user-a{
  position: static;
}



.user_art{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.namepost{
  color: black;
  font-size: 17px;
  font-weight: 800;
  margin-left: 80px;
  margin-top: -50px;
}

.post{
  font-size: 15px;
  line-height: 20px;
  color: #14171a;
  font-weight: 400;
  margin-top: -10px;
  margin-left: 80px;
}

.cpost{
  width: 24px;
  margin-left: 80px;
  margin-top: 30px;
}

.rpost{
  width: 24px;
  margin-left: 50px;
}

.hpost{
  width: 24px;
  margin-left: 0px;
  margin-left: 50px;
}

.upost{
  width: 24px;
  margin-left: 50px;
}

.bodyr{
  background-color: #c4c7c9;
}

.contentRegister{
  width: 600px;
  height: 560px;
  background-color:#ffff;
  margin-left: 210px;
  margin-top: 30px;
  border-radius: 20px;
}

.logoR{
  width: 30px;
  height: 35px;
  margin-left: 270px;
  margin-top: 20px;
}

.tituloR{
  font-size: 24px;
  font-weight: 900;
  margin-left: 20px;
  margin-bottom: 25px;
}

form {
  margin-left: 20px;
  font-size: 15px;
  margin-right: 90px;
}

input {
width: 100%;
border: 0;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #acacac;
outline: 0;
background: #e6ecf0;
padding: 20px 0 4px;
margin: 0 0 20px;
}

input:focus {
  border-bottom-color: #17A2F2;
}

label{
  position: absolute;
  width: 400px;
  color: #868484;
}

button{
  /* margin-top: 40px; */
  background-color: #8ED0F8;
  font-weight: 700;
  outline: none;
  color: white;
  border-style: none;
  width: 115px;
  height: 40px;
  border-radius: 20px;
  /* margin-left: 205px; */
}

button:hover{
  background-color: #17A2F2;
}

.notification {
  z-index: 1;
  width: 200px;
  top: -195px;
  margin-left: 250px;
  position: absolute;
  margin-top: 200px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: red;
  font-size: 0.9rem;
}

.success {
  background: #43DC7E;
  color: white;
}

.error {
  background: #AB3444;
  color: white;
  margin-bottom: 20px;
} 

.bodyl{
  background-color: #ffff;
}

form.login{
  padding-left: 210px;
  padding-right: 170px;
}

.logoL{
  width: 40px;
  height: 50px;
  margin-left: 490px;
  margin-top: 6px;
}

.tituloL{
  font-size: 23px;
  line-height: 30px;
  color: #0f1419;
  font-weight: 700;
  margin-left: 390px;
  margin-bottom: 25px;
}

.botonL{
  margin-top: 0px;
  background-color: #8ED0F8;
  font-weight: 700;
  outline: none;
  color: white;
  border-style: none;
  width: 540px;
  height: 50px;
  border-radius: 30px;
  margin-left: 0px;
}

.a-olv{
  margin-top: 30px;
  margin-left: 114px;
  font-size: 15px;
  line-height: 20px;
  color: #1b95e0;
  font-weight: 400px;
}

.a-regis{
  margin-top: 30px;
  margin-left: 299px;
  font-size: 15px;
  line-height: 20px;
  color: #1b95e0;
  font-weight: 400px;
}

.span{
  position: absolute;
  margin-top: 29px;
  margin-left: 290px;
}

.izquierda{
  position: absolute;
  margin-top: -16px;
  width: 50%;
  height: 600px;
  background-color: #7ACCFE;
  background-repeat: no-repeat;
  background-position-x: 00px;
  background-position-y: 200px;
  background-size: 600px;
  background-image: url(../static/logog.png);
}

.loupe-iz{
  position: absolute;
  width: 25px;
  margin-top: 190px;
  margin-left: 70px;
}

.users-iz{
  position: absolute;
  width: 25px;
  margin-top: 20px;
  margin-left: 70px;
}

.bubble-iz{
  position: absolute;
  width: 25px;
  margin-top: 20px;
  margin-left: 70px;
}

.logod{
  width: 55px;
  margin-top: 70px;
}

.p-dere{
  margin-top: 15px;
  font-size: 30px;
  line-height: 39px;
  color: #0f1419;
  font-weight: 700;
}

.p-une{
  margin-top: 60px;
  font-size: 15px;
  line-height: 20px;
  color: #0f1419;
  font-weight: 700;
}

.link-regis{
  background-color: #1A91DA;
  height: 26px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: white;
  font-weight: 700;
  padding-top: 13px;
  padding-bottom: 0px;
  border: 1px solid #1A91DA;
  border-radius: 20px;
  width: 379px;
}

.d-login{
  background-color: transparent;
  height: 26px;
  margin-top: 55px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #1A91DA;
  font-weight: 700;
  padding-top: 13px;
  padding-bottom: 0px;
  border: 1px solid #1A91DA;
  border-radius: 20px;
  width: 379px;
}

.sigue{
  margin-top: 190px;
  margin-left: 110px;
  font-size: 19px;
  line-height: 25px;
  color: #ffff;
  font-weight: 700;
}

.entera{
  margin-top: 40px;
  margin-left: 110px;
  margin-right: 100px;
  font-size: 19px;
  line-height: 25px;
  color: #ffff;
  font-weight: 700;
}

.unete{
  margin-top: 40px;
  margin-left: 110px;
  font-size: 19px;
  line-height: 25px;
  color: #ffff;
  font-weight: 700;
}

.portada{
  width: 67.1%;
  height: 240px;
  border-bottom:1px solid #e6ecf0;
  background-color: #1A91DA;
}

.imgprofile{
  background-color: white;
  width: 130px;
  height: 130px;
  margin-left: 90px;
  margin-top: 170px;
  border-radius: 70px;
}

.profile{
  box-sizing: border-box;
  border-bottom: 1px solid #e6ecf0;
  width: 67.3%;
  height: 310px;
  padding-top: 50px;
  padding-left: 15px;
}

.username-profile{
  color: black;
  font-size: 20px;
  font-weight: 800;
  margin-left: 80px;
}

.user-profile{
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #657786;
  margin-left: 80px;
  margin-top: -20px;
}

.span{
  margin-top: -8px;
  margin-left: 80px;
  width: 570px;
}

.biografia-profile{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #0f1419;
}

.red-profile{
  position: static;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1da1f2;
  margin-left: 5px;
  margin-top: 40px;
}

.count-siguiendo{
  margin-top: 11px;
  margin-left: 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #0f1419;
}

.a-logo{
  margin-top: -20px;
  margin-left: -20px;
}

.a-home{
  margin-top: -12px;
  margin-left: -12px;
}

.a-hashtag{
  margin-top: -12px;
  margin-left: -12px;
}

.a-bell{
  margin-top: -12px;
  margin-left: -12px;
}

.a-message{
  margin-top: -12px;
  margin-left: -12px;
}

.a-book{
  margin-top: -12px;
  margin-left: -12px;
}

.a-list{
  margin-top: -12px;
  margin-left: -12px;
}

.a-user{
  margin-top: -12px;
  margin-left: -12px;
}

.a-mas{
  margin-top: -12px;
  margin-left: -12px;
}

.a-pluma{
  margin-top: -12px;
  margin-left: -15px;
}

.a-modal{
  margin-top: -24px;
  margin-left: -20px;
}


.siguiendo{
  margin-left: 95px;
  margin-top: -35px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5b7083;
}

.count-seguidores{
  margin-top: -35px;
  margin-left: 195px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #0f1419;
}

.seguidores{
  margin-top: -35px;
  margin-left: 210px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5b7083;
}

.tweets{
  position: absolute;
  color: #AAB8C2;
  margin-left: 64px;
  margin-top: 26px;
  padding-top: 15px;
  text-align: center;
  width: 110px;
  height: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #5b7083;
}

.tweets:hover{
  background-color: #E8F5FE;
  color: #1DA1F2;
}

.tweets:active{
  color: #1DA1F2;
  border-bottom: 2px solid #1da1f2;
}

.tweets-respuestas{
  position: absolute;
  color: #AAB8C2;
  margin-left: 175px;
  margin-top: 26px;
  padding-top: 15px;
  text-align: center;
  width: 190px;
  height: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #5b7083;
}

.tweets-respuestas:hover{
  background-color: #E8F5FE;
  color: #1DA1F2;
}

.tweets-respuestas:active{
  color: #1DA1F2;
  border-bottom: 2px solid #1da1f2;
}

.fotos-videos{
  position: absolute;
  color: #AAB8C2;
  margin-left: 367px;
  margin-top: 26px;
  padding-top: 15px;
  text-align: center;
  width: 160px;
  height: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #5b7083;
}

.fotos-videos:hover{
  background-color: #E8F5FE;
  color: #1DA1F2;
}

.fotos-videos:active{
  color: #1DA1F2;
  border-bottom: 2px solid #1da1f2;
}

.megusta{
  position: absolute;
  color: #AAB8C2;
  margin-left: 512px;
  margin-top: 26px;
  padding-top: 15px;
  text-align: center;
  width: 150px;
  height: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #5b7083;}

.megusta:hover{
  background-color: #E8F5FE;
  color: #1DA1F2;
}

.megusta:active{
  color: #1DA1F2;
  border-bottom: 2px solid #1da1f2;
}

.imglink{
  width: 15px;
  margin-top: 40px;
  margin-left: 80px;
}

.seguir{
  position: absolute;
  margin-top: 260px;
  border-radius: 30px;
  width: 130px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #1DA1F2;
  margin-left: 280px;
  color: #1DA1F2;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}


.seguir:hover{
  background-color: #E8F5FE;
  cursor: pointer;
}

.dejar-seguir{
  position: absolute;
  margin-top: 260px;
  border-radius: 30px;
  width: 130px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  background-color: #CA2055;
  margin-left: 280px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

/* @media screen and (max-width: 800px){
    .buscador{ display: none;}
} */